<footer>Tuxhub 2012</footer>
    </div><!--fluid container-->

<script>

linkify=function(t){t=t.replace(/(^|)@(\w+)/gi,function (s){return '<a rel="nofollow" href="/user/'+s+'">'+s+'</a>';});t=t.replace(/(^|)#(\w+)/gi,function (s){return '<a rel="nofollow" href="/search?q='+s.replace(/#/,'%23') +'">'+s+'</a>';});return t;}

var ws = new WebSocket("ws://localhost:18888/update");
ws.onopen = function(){} // Soket açıldığında..
ws.onmessage = function(m){$("#feeds").html(linkify(m.data)+$("#feeds").html());}

$(document).ready(function(){

    $("#feed_form").submit(function(e){ e.preventDefault(); return false; });
    $("button#submit").click(function(e){
        e.preventDefault();
        $("#time").val(new Date().toISOString());
        $.post("/",$("#feed_form").serialize(),function(feed_id){
        	data = {
        		id:feed_id,
            	user_name: '{{ current_user["user_name"] }}',
            	feed: $("#feed").val(),
            	time: $.timeago((new Date()).toISOString())
        	}
        	ws.send(JSON.stringify(data));
        });
       
        return false;
    });
    
    $(".timeago").each(function(){
        $(this).html($.timeago($(this).html()));
    });

	$(".feed_content").each(function(){
    	t=$(this).html();
    	t=t.replace(/(^|)@(\w+)/gi,function (s){return '<a rel="nofollow" href="/user/'+s+'">'+s+'</a>';});
    	t=t.replace(/(^|)#(\w+)/gi,function (s){return '<a rel="nofollow" href="/search?q='+s.replace(/#/,'%23')+'">'+s+'</a>';});
    	$(this).html(t);
    });
});
</script>
  </body>
</html>