{% include header.html %}
<div class="container-fluid"><!-- in footer.html -->
	{% include navbar_top.html %}
    <div class="row-fluid">
    	{% include new_feed_form.html %}
      	{% include right_bar.html %}
        <div class="span8" id="feeds">
            {% for i in feeds %}
                <div id="{{ i['_id'] }}" class="well">
                    <div class="user"><img width="50" height="50" src="/p/{{ i['profile'] }}"><b>{{ i['user'] }}: </b> (<span class="timeago">{{i['time']}}</span>)</div>
                    <div class="feed_content">&nbsp;&nbsp;{{ i['text'] }}</div>
                </div>
            {% end %}
        </div>
    </div>
{% include footer.html %}