{% include header.html %}
<div class="container-fluid"><!-- in footer.html -->
	{% include navbar_top.html %}
    <div class="row-fluid">
    	{% include new_feed_form.html %}
      	{% include right_bar.html %}
        <div class="span8" id="feeds">
            {% for i in feeds %}
                <div id="{{ i['_id'] }}" class="well">
                    <div class="user"><img width="50" height="50" src="/p/{{ i['profile'] }}"><b>{{ i['user'] }}: </b> (<span class="timeago">{{i['time']}}</span>)</div>
                    <div class="feed_content">&nbsp;&nbsp;{{ i['text'] }}</div>
                </div>
            {% end %}

            <div id="pager">
            	{% set start = int(handler.get_argument("start",0)) %}
            	{% if start > 0 %}
            		<a href="/?start={{int(handler.get_argument('start')) + 20}}">< Old feeds</a> |
            		{% if start > 20 %} 
            			<a href="/?start={{start - 20}}">New feeds ></a>
            		{% else %}
            			<a href="/">New feeds ></a>
            		{% end %}
            	{% else %}
            		<a href="/?start=20">< Old feeds</a>
            	{% end %}
            </div>

        </div>
    </div>
{% include footer.html %}