{% include parts/header.html %}
<div class="container-fluid"><!-- in footer.html -->
	{% include parts/navbar_top.html %}
    <div class="row-fluid">
    	{% include parts/new_feed_form.html %}
      	{% include parts/right_bar.html %}
        <div class="span8" id="feeds">
            {% for i in feeds %}
                <div id="{{ i['_id'] }}" class="well">
                    <div class="user"><img width="50" height="50" src="/p/{{ i['profile'] }}"><b>{{ i['user'] }}: </b> (<span class="timeago">{{i['time']}}</span>)</div>
                    <div class="feed_content">&nbsp;&nbsp;{{ i['text'] }}</div>
                </div>
            {% end %}

            <div id="pager">
            	{% set start = int(handler.get_argument("start",0)) %}
            	{% if start > 0 %}
            		<a href="/?start={{int(handler.get_argument('start')) + 20}}">< Old feeds</a> |
            		{% if start > 20 %} 
            			<a href="/?start={{start - 20}}">New feeds ></a>
            		{% else %}
            			<a href="/">New feeds ></a>
            		{% end %}
            	{% else %}
            		<a href="/?start=20">< Old feeds</a>
            	{% end %}
            </div>

        </div>
    </div>
</div><!--fluid container-->
<script>
linkify=function(t){t=t.replace(/(^|)@(\w+)/gi,function (s){return '<a rel="nofollow" href="/user/'+s+'">'+s+'</a>';});t=t.replace(/(^|)#(\w+)/gi,function (s){return '<a rel="nofollow" href="/search?q='+s.replace(/#/,'%23') +'">'+s+'</a>';});return t;}

var ws = new WebSocket("ws://localhost:18888/update");
ws.onopen = function(){} // Soket açıldığında..
ws.onmessage = function(m){$("#feeds").html(linkify(m.data)+$("#feeds").html());}

$(document).ready(function(){

    $("#feed_form").submit(function(e){ e.preventDefault(); return false; });
    $("button#submit").click(function(e){
        e.preventDefault();
        $("#time").val(new Date().toISOString());
        $.post("/",$("#feed_form").serialize(),function(feed_id){
        	data = {
        		id:feed_id,
            	user_name: '{{ current_user["user_name"] }}',
            	feed: $("#feed").val(),
            	time: $.timeago((new Date()).toISOString())
        	}
        	ws.send(JSON.stringify(data));
        	$("#feed").val("");
        });
       
        return false;
    });
    
    $(".timeago").each(function(){
        $(this).html($.timeago($(this).html()));
    });

	$(".feed_content").each(function(){
    	t=$(this).html();
    	t=t.replace(/(^|)@(\w+)/gi,function (s){return '<a rel="nofollow" href="/user/'+s+'">'+s+'</a>';});
    	t=t.replace(/(^|)#(\w+)/gi,function (s){return '<a rel="nofollow" href="/search?q='+s.replace(/#/,'%23')+'">'+s+'</a>';});
    	$(this).html(t);
    });
});
</script>
{% include parts/footer.html %}