{% include parts/header.html %}
    <div class="container-fluid">
      {% include parts/navbar_top.html %}
      <div class="row-fluid">
        <div class="span12">
          <form id="login-form" class="form-horizontal" action="/auth/login" method="post">
            {% raw xsrf_form_html() %}
            <fieldset>
              <legend>Login</legend>
                <div class="control-group">
                  <label class="control-label" for="user_name">Username:</label>
                  <div class="controls">
                    <input type="text" name="user_name" class="input-xlarge" id="user_name">
                    <p class="help-block"></p>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="password">Password:</label>
                  <div class="controls">
                    <input type="password" name="password" class="input-xlarge" id="password">
                    <p class="help-block"></p>
                  </div>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
{% include parts/footer.html %}