<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tuxhub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="{{ static_url('bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.timeago.js') }}"></script>
  </head>
  <body>
	<base url="http://localhost:18888">